* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    height: 12rem;
}

header img {
    height: 9rem;
    width: 10rem;
    position: relative;
    left: 37rem;
    top: 0.5rem;
    
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: darkslategray;
    background:gold;
}

a {
    padding: 1rem;
    display: block;
}

h3 {
    background-color: black;
    color: white;
    text-align: center;
}

main {
    display: flex;
    width: 100%;
}

.main_index {
    position: relative;
    left: 7rem;
    margin: 2rem;
    padding: 2rem;
    background-image: url(../assets/image/hockey2.jpg);
    background-position: center;
    object-fit: contain;
    background-size: cover;
    border: 2px solid black;
    color: black
}

.main_index_principal {
    background-image: url(../assets/image/hockey1.jpg);
    background-position: center;
}

nav {
    margin: 0.5rem;
    padding: 0.5rem;
}

section {
    padding: 0.5rem;
}

.active {
    text-decoration: none;
    color: black
}

.main_about {
    display: block;
    margin-top: 1rem;
    padding: 0 10rem;
    color: black
}

.main_contact {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.email {
    position: relative;
    bottom: 3rem;
    left: 12.5rem;
}

.mainrules {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    display: inline-block;
    text-align: justify;
}

.subtitulo {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.1rem;
}

li {
    list-style-position: inside;
}

.listaalfabetica {
    list-style-type: lower-alpha;
    margin-right: 1rem;
    padding: 0;
}

ol,
ul {
    padding: 1rem;
}

.sinpunto {
    list-style-type: none;
}

.bordeizquierdo {
    padding: 1rem;
    list-style-type: none;
}

caption {
    text-decoration: underline;
    text-align: start;
    padding-bottom: 1rem;
    color:black;
}

.maingameinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(194, 206, 207);
}

.maingameinfo div {
    display: flex;
}

.maingameinfo div a {
    text-decoration: none;
    color: black;
}

.maingameinfo p {
    padding: 1rem;
}

td,
th {
    padding: 0rem 4rem;
}

table {
    padding: 2rem;
    background-color:darkslategray;
    border-radius: 1rem;
    color: white;
}

thead {
    padding: 2rem;
}

table tbody tr td {
    padding: 1rem !important;
    text-align: center;
}

.subtitulegameinfo {
    position: absolute;
    left: 9rem;
    padding: 0.5rem;
}

.navsprint3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: rgb(14, 41, 14);
    font-weight: bold;
    font-size: 18px;

}

nav a:hover{
    color: goldenrod;
    text-decoration: underline;
}
.maincontact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maincontact img {
    margin: 0.5rem;
    height: 25rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    left: 3rem;
}

.span_index {
    color: black;
    background-color: rgb(221, 138, 138);
    border-radius: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/image/bg.jpg);
    color: white;
    padding: 1rem;
}

footer div {
    display: flex;
}

footer div a {
    text-decoration: none;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 1rem;
    margin: 0 19rem;
}

fieldset {
    padding: 1rem;
    margin: 0.5rem;
    border: none;
}

fieldset:first-child {
    padding-bottom: 0.5rem;
}

.inputstreet {
    width: 32rem;
}

.inputcity {
    width: 19.5rem;
}

.inputzip {
    width: 13rem;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="submit"] {
    padding: 1rem;
    border:none;
    position: relative;
    left: 15rem;
    border-radius: 10%;
    background-color: darkslategray;
    color: white;
    font-weight: bold;
}

.mainregistration{
    background-color: rgb(194, 206, 207);
}